In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import joblib

In [ ]:
matches=pd.read_csv("C:\Users\AISHWARYA\OneDrive\Desktop\matches (1).csv")
matches

    match_id  season  ...        umpire1         umpire2
0     2008_1    2008  ...      Asad Rauf     RE Koertzen
1     2008_2    2008  ...      MR Benson      SL Shastri
2     2008_3    2008  ...      Aleem Dar  GA Pratapkumar
3     2008_4    2008  ...       SJ Davis       DJ Harper
4     2008_5    2008  ...      BF Bowden     K Hariharan
..       ...     ...  ...            ...             ...
751  2019_56    2019  ...  Nanda Kishore        O Nandan
752  2019_57    2019  ...    Nigel Llong     Nitin Menon
753  2019_58    2019  ...            NaN             NaN
754  2019_59    2019  ...  Sundaram Ravi  Bruce Oxenford
755  2019_60    2019  ...    Nitin Menon       Ian Gould

[756 rows x 17 columns]

In [ ]:
matches[pd.isnull(matches['winner'])]

    match_id  season  ...          umpire1       umpire2
241  2011_67    2011  ...        SS Hazare     RJ Tucker
486  2015_29    2015  ...        JD Cloete     PG Pathak
511  2015_54    2015  ...  HDPK Dharmasena  K Srinivasan
744  2019_49    2019  ...      Nigel Llong  Ulhas Gandhe

[4 rows x 17 columns]

In [ ]:
matches['winner'].fillna('Draw', inplace=True)

In [ ]:
#here we are replacing the name with shortnames...
matches.replace(['Mumbai Indians','Kolkata Knight Riders','Royal Challengers Bangalore','Deccan Chargers','Chennai Super Kings',
                 'Rajasthan Royals','Delhi Daredevils','Gujarat Lions','Kings XI Punjab',
                 'Sunrisers Hyderabad','Rising Pune Supergiants','Rising Pune Supergiant','Kochi Tuskers Kerala','Pune Warriors']
                ,['MI','KKR','RCB','DC','CSK','RR','DD','GL','KXI','SRH','RPS','RPS','KTK','PW'],inplace=True)

#here we are encoding that short name to numbers...
encode = {'team1': {'MI':1,'KKR':2,'RCB':3,'DC':4,'CSK':5,'RR':6,'DD':7,'GL':8,'KXI':9,'SRH':10,'RPS':11,'KTK':12,'PW':13},
          'team2': {'MI':1,'KKR':2,'RCB':3,'DC':4,'CSK':5,'RR':6,'DD':7,'GL':8,'KXI':9,'SRH':10,'RPS':11,'KTK':12,'PW':13},
          'toss_winner': {'MI':1,'KKR':2,'RCB':3,'DC':4,'CSK':5,'RR':6,'DD':7,'GL':8,'KXI':9,'SRH':10,'RPS':11,'KTK':12,'PW':13},
          'winner': {'MI':1,'KKR':2,'RCB':3,'DC':4,'CSK':5,'RR':6,'DD':7,'GL':8,'KXI':9,'SRH':10,'RPS':11,'KTK':12,'PW':13,'Draw':14}}
matches.replace(encode, inplace=True)
matches.head(2)

  match_id  season  ...    umpire1      umpire2
0   2008_1    2008  ...  Asad Rauf  RE Koertzen
1   2008_2    2008  ...  MR Benson   SL Shastri

[2 rows x 17 columns]

In [ ]:
#Find cities which are null
matches[pd.isnull(matches['city'])]

    match_id  season  ...          umpire1         umpire2
402   2014_5    2014  ...        Aleem Dar    AK Chaudhary
403   2014_6    2014  ...        Aleem Dar     VA Kulkarni
407  2014_10    2014  ...  HDPK Dharmasena  RK Illingworth
409  2014_12    2014  ...        M Erasmus          S Ravi
410  2014_13    2014  ...        BF Bowden       M Erasmus
415  2014_18    2014  ...        BF Bowden          S Ravi
417  2014_20    2014  ...  HDPK Dharmasena       M Erasmus

[7 rows x 17 columns]

In [ ]:
#remove any null values, winner has hence fill the null value in winner as draw
#City is also null inthat case we will fill it with dubai
matches['city'].fillna('Dubai',inplace=True)
matches.describe()

            season       team1  ...  win_by_runs  win_by_wickets
count   756.000000  756.000000  ...   756.000000      756.000000
mean   2013.444444    5.507937  ...    13.283069        3.350529
std       3.366895    3.307017  ...    23.471144        3.387963
min    2008.000000    1.000000  ...     0.000000        0.000000
25%    2011.000000    3.000000  ...     0.000000        0.000000
50%    2013.000000    5.000000  ...     0.000000        4.000000
75%    2016.000000    9.000000  ...    19.000000        6.000000
max    2019.000000   13.000000  ...   146.000000       10.000000

[8 rows x 8 columns]

In [ ]:
dicVal=encode['winner']
dicVal

{'CSK': 5,
 'DC': 4,
 'DD': 7,
 'Draw': 14,
 'GL': 8,
 'KKR': 2,
 'KTK': 12,
 'KXI': 9,
 'MI': 1,
 'PW': 13,
 'RCB': 3,
 'RPS': 11,
 'RR': 6,
 'SRH': 10}

In [ ]:
matches = matches[['team1','team2','city','toss_decision','toss_winner','venue','winner']]
matches.head(6)

   team1  team2  ...                                       venue winner
0      2      3  ...                       M Chinnaswamy Stadium      2
1      5      9  ...  Punjab Cricket Association Stadium, Mohali      5
2      6      7  ...                            Feroz Shah Kotla      7
3      1      3  ...                            Wankhede Stadium      3
4      4      2  ...                                Eden Gardens      2
5      9      6  ...                      Sawai Mansingh Stadium      6

[6 rows x 7 columns]

In [ ]:
df = pd.DataFrame(matches)
df.describe()

            team1       team2  toss_winner      winner
count  756.000000  756.000000   756.000000  756.000000
mean     5.507937    5.511905     5.361111    5.309524
std      3.307017    3.274807     3.217999    3.263195
min      1.000000    1.000000     1.000000    1.000000
25%      3.000000    3.000000     2.000000    2.000000
50%      5.000000    5.000000     5.000000    5.000000
75%      9.000000    8.000000     7.000000    7.250000
max     13.000000   13.000000    13.000000   14.000000

In [ ]:
#Here we are trying to find correlation between toss and win..
temp1=df['toss_winner'].value_counts(sort=True)
temp2=df['winner'].value_counts(sort=True)
#Mumbai won most toss and also most matches
print('No of toss winners by each team')
for idx, val in temp1.iteritems():
   print('{} -> {}'.format(list(dicVal.keys())[list(dicVal.values()).index(idx)],val))
print('No of match winners by each team')
for idx, val in temp2.iteritems():
   print('{} -> {}'.format(list(dicVal.keys())[list(dicVal.values()).index(idx)],val))

No of toss winners by each team
MI -> 98
KKR -> 93
DD -> 90
CSK -> 89
RCB -> 81
KXI -> 80
RR -> 80
SRH -> 46
DC -> 43
PW -> 20
GL -> 15
RPS -> 13
KTK -> 8
No of match winners by each team
MI -> 109
CSK -> 101
KKR -> 92
RCB -> 85
KXI -> 81
DD -> 77
RR -> 74
SRH -> 58
DC -> 29
RPS -> 15
GL -> 13
PW -> 12
KTK -> 6
Draw -> 4

In [ ]:
city=df.city.unique()
city

array(['Bangalore', 'Chandigarh', 'Delhi', 'Mumbai', 'Kolkata', 'Jaipur',
       'Hyderabad', 'Chennai', 'Cape Town', 'Port Elizabeth', 'Durban',
       'Centurion', 'East London', 'Johannesburg', 'Kimberley',
       'Bloemfontein', 'Ahmedabad', 'Cuttack', 'Nagpur', 'Dharamsala',
       'Kochi', 'Indore', 'Visakhapatnam', 'Pune', 'Raipur', 'Ranchi',
       'Abu Dhabi', 'Sharjah', 'Dubai', 'Rajkot', 'Kanpur'], dtype=object)

In [ ]:
toss=df.toss_decision.unique()
toss

array(['field', 'bat'], dtype=object)

In [ ]:
venue=df.venue.unique()
venue

array(['M Chinnaswamy Stadium',
       'Punjab Cricket Association Stadium, Mohali', 'Feroz Shah Kotla',
       'Wankhede Stadium', 'Eden Gardens', 'Sawai Mansingh Stadium',
       'Rajiv Gandhi International Stadium, Uppal',
       'MA Chidambaram Stadium, Chepauk', 'Dr DY Patil Sports Academy',
       'Newlands', "St George's Park", 'Kingsmead', 'SuperSport Park',
       'Buffalo Park', 'New Wanderers Stadium', 'De Beers Diamond Oval',
       'OUTsurance Oval', 'Brabourne Stadium',
       'Sardar Patel Stadium, Motera', 'Barabati Stadium',
       'Vidarbha Cricket Association Stadium, Jamtha',
       'Himachal Pradesh Cricket Association Stadium', 'Nehru Stadium',
       'Holkar Cricket Stadium',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Subrata Roy Sahara Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
       'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
       'Maharashtra Cricket Association Stadium',
       'Punjab Cricket Association IS Bindra Stadium, Mohali',
       'Saurashtra Cricket Association Stadium', 'Green Park',
       'Wankhede Stadium, Mumbai, Maharashtra',
       'I.S. Bindra Punjab Cricket Association Stadium, Mohali',
       'Eden Garden Stadium, Kolkata, West Bengal',
       'M.A.Chidambaram Stadium Chennai, Tamil Nadu',
       'Sawai Man Singh Stadium, Jaipur, Rajasthan',
       'M.Chinnaswamy Stadium Bengaluru, Karnataka',
       'Feroz Shah Kotla Stadium, Delhi',
       'Holkar Stadium Cricket Stadium, Indore, Madhya Pradesh',
       'Rajiv Gandhi Intl. Cricket Stadium'], dtype=object)

In [ ]:
df

     team1  team2  ...                                              venue winner
0        2      3  ...                              M Chinnaswamy Stadium      2
1        5      9  ...         Punjab Cricket Association Stadium, Mohali      5
2        6      7  ...                                   Feroz Shah Kotla      7
3        1      3  ...                                   Wankhede Stadium      3
4        4      2  ...                                       Eden Gardens      2
..     ...    ...  ...                                                ...    ...
751      2      1  ...              Wankhede Stadium, Mumbai, Maharashtra      1
752      5      1  ...        M.A.Chidambaram Stadium Chennai, Tamil Nadu      1
753     10      7  ...  Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...      7
754      7      5  ...  Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...      5
755      1      5  ...          Rajiv Gandhi International Stadium, Uppal      1

[756 rows x 7 columns]

In [ ]:
#building predictive model
from sklearn.preprocessing import LabelEncoder
var_mod = ['city','toss_decision','venue']
le = LabelEncoder()
for i in var_mod:
    df[i] = le.fit_transform(df[i])
df.dtypes

team1            int64
team2            int64
city             int64
toss_decision    int64
toss_winner      int64
venue            int64
winner           int64
dtype: object

In [ ]:
city_val=df.city.unique()
city_val

array([ 2,  6,  9, 22, 21, 16, 14,  7,  4, 24, 12,  5, 13, 17, 19,  3,  1,
        8, 23, 10, 20, 15, 30, 25, 26, 28,  0, 29, 11, 27, 18])

In [ ]:
city

array(['Bangalore', 'Chandigarh', 'Delhi', 'Mumbai', 'Kolkata', 'Jaipur',
       'Hyderabad', 'Chennai', 'Cape Town', 'Port Elizabeth', 'Durban',
       'Centurion', 'East London', 'Johannesburg', 'Kimberley',
       'Bloemfontein', 'Ahmedabad', 'Cuttack', 'Nagpur', 'Dharamsala',
       'Kochi', 'Indore', 'Visakhapatnam', 'Pune', 'Raipur', 'Ranchi',
       'Abu Dhabi', 'Sharjah', 'Dubai', 'Rajkot', 'Kanpur'], dtype=object)

In [ ]:
dic=dict(zip(city,city_val))
print(dic)

{'Bangalore': 2, 'Chandigarh': 6, 'Delhi': 9, 'Mumbai': 22, 'Kolkata': 21, 'Jaipur': 16, 'Hyderabad': 14, 'Chennai': 7, 'Cape Town': 4, 'Port Elizabeth': 24, 'Durban': 12, 'Centurion': 5, 'East London': 13, 'Johannesburg': 17, 'Kimberley': 19, 'Bloemfontein': 3, 'Ahmedabad': 1, 'Cuttack': 8, 'Nagpur': 23, 'Dharamsala': 10, 'Kochi': 20, 'Indore': 15, 'Visakhapatnam': 30, 'Pune': 25, 'Raipur': 26, 'Ranchi': 28, 'Abu Dhabi': 0, 'Sharjah': 29, 'Dubai': 11, 'Rajkot': 27, 'Kanpur': 18}

In [ ]:
tossval=df.toss_decision.unique()
venueval=df.venue.unique()
w=dict(zip(toss,tossval))
print(w)

{'field': 1, 'bat': 0}

In [ ]:
t=dict(zip(venue,venueval))
print(t)

{'M Chinnaswamy Stadium': 18, 'Punjab Cricket Association Stadium, Mohali': 28, 'Feroz Shah Kotla': 9, 'Wankhede Stadium': 42, 'Eden Gardens': 8, 'Sawai Mansingh Stadium': 34, 'Rajiv Gandhi International Stadium, Uppal': 29, 'MA Chidambaram Stadium, Chepauk': 21, 'Dr DY Patil Sports Academy': 4, 'Newlands': 25, "St George's Park": 38, 'Kingsmead': 17, 'SuperSport Park': 40, 'Buffalo Park': 2, 'New Wanderers Stadium': 24, 'De Beers Diamond Oval': 3, 'OUTsurance Oval': 26, 'Brabourne Stadium': 1, 'Sardar Patel Stadium, Motera': 31, 'Barabati Stadium': 0, 'Vidarbha Cricket Association Stadium, Jamtha': 41, 'Himachal Pradesh Cricket Association Stadium': 12, 'Nehru Stadium': 23, 'Holkar Cricket Stadium': 13, 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium': 5, 'Subrata Roy Sahara Stadium': 39, 'Shaheed Veer Narayan Singh International Stadium': 35, 'JSCA International Stadium Complex': 16, 'Sheikh Zayed Stadium': 37, 'Sharjah Cricket Stadium': 36, 'Dubai International Cricket Stadium': 6, 'Maharashtra Cricket Association Stadium': 22, 'Punjab Cricket Association IS Bindra Stadium, Mohali': 27, 'Saurashtra Cricket Association Stadium': 32, 'Green Park': 11, 'Wankhede Stadium, Mumbai, Maharashtra': 43, 'I.S. Bindra Punjab Cricket Association Stadium, Mohali': 15, 'Eden Garden Stadium, Kolkata, West Bengal': 7, 'M.A.Chidambaram Stadium Chennai, Tamil Nadu': 19, 'Sawai Man Singh Stadium, Jaipur, Rajasthan': 33, 'M.Chinnaswamy Stadium Bengaluru, Karnataka': 20, 'Feroz Shah Kotla Stadium, Delhi': 10, 'Holkar Stadium Cricket Stadium, Indore, Madhya Pradesh': 14, 'Rajiv Gandhi Intl. Cricket Stadium': 30}

In [64]:
#Import models from scikit learn module:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split 

from sklearn.ensemble import RandomForestClassifier

from sklearn import metrics

#Generic function for making a classification model and accessing performance:
def classification_model(model,data,predictors,outcome):
  model.fit(data[predictors],data[outcome])
  predictions = model.predict(data[predictors])
  accuracy = metrics.accuracy_score(predictions,data[outcome])
  print('Accuracy of the model is : %s' % '{0:.3%}'.format(accuracy))
model=RandomForestClassifier(n_estimators=70)
outcome_var=['winner']
predictor_var=['team1','team2','venue','toss_winner','city','toss_decision']
classification_model(model,df,predictor_var,outcome_var)

Accuracy of the model is : 89.815%

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  # This is added back by InteractiveShellApp.init_path()

predicting the winner with random forest

In [ ]:
team1='RCB'
team2='SRH'
toss_winner='RCB'
input=[dicVal[team1],dicVal[team2],'20',dicVal[toss_winner],'13','1']
input=np.array(input).reshape(1,-1)
output=model.predict(input)
print(list(dicVal.keys())[list(dicVal.values()).index(output)])

RCB

In [ ]:
output

array([3])

support vector machine

In [66]:
from sklearn.svm import SVC
model=SVC(kernel='rbf',random_state=0)

outcome_var=['winner']
predictor_var=['team1','team2','venue','toss_winner','city','toss_decision']
classification_model(model,df,predictor_var,outcome_var)

Accuracy of the model is : 41.270%

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

we find the SVM accuracy way too low compared to that of random forest

predicting the winner with svm

In [67]:
team1='RCB'
team2='SRH'
toss_winner='RCB'
input=[dicVal[team1],dicVal[team2],'20',dicVal[toss_winner],'13','1']
input=np.array(input).reshape(1,-1)
output=model.predict(input)
print(list(dicVal.keys())[list(dicVal.values()).index(output)])

CSK